body{
    font-family: 'Outfit', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
}

.mask {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 120px;
}

.quantity .minus, .quantity .plus {
    background-color: #fa8a21;
    color: #ffffff;
    display: block;
    float: left;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    padding: 0;
    width: 34px;
    height: 34px;
    line-height: 36px;
    text-align: center;
    font-size: 20px;
    margin: 4px;
}


.btn-warning {
    color: #ffffff;
    background-color: #fa8a21;
    border-color: #ffc107;
}

.btn-warning:hover {
    color: #ffffff;
    background-color: #d26f12;
    border-color: #ffc720
}

.btn-outline-warning {
    color: #fa8a21;
    border-color: #fa8a21
}

.btn-outline-warning:hover {
    color: #ffffff;
    background-color: #fa8a21;
    border-color: #fa8a21
}

.shop_info_tab li{
    margin-left: 15px;
}

.section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

.section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #FF9F00;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
}


.newsletter_form2 input, .newsletter_form2 input:focus {
    margin-top: 8px;
    height: 48px;
}


.nav-link {
    font-size: 18px;
    font-weight: bold;
}

.text-primary {
    color: #1d5900 !important;
}
